h1 {
    font-weight: normal;
    font-size: 100px;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #93b0ea;
}

p {
    font-weight: lighter;
    font-size: 12px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    color: #93b0ea;
}

a {
    text-decoration: none;
    outline: none;
    color: #93b0ea;
}

a:hover {
    text-decoration: underline;
}